.tohField--timeRanges
  margin: -5px

.tohField--timeRanges,
.tohField--timeRangesContainer
  display: flex
  flex-flow: row wrap

.tohField--timeRangesRow
  padding: 5px

  > *
    margin-right: 10px

  .timewrapper
    width: 6em

.tohField--timeRangeActions
  padding: 5px
