.tohField--months
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 1px
  overflow: hidden

  border-radius: 5px

.tohField--monthsItem
  padding: 7px 10px
  background: rgba(96, 125, 159, 0.25)
  cursor: pointer

  &.checked
    background: rgba(96, 125, 159, 0.5)
